body {
    margin: 0;
}

figure {
    margin: 0;
}

h1 {
    font-size: 130px;
    margin-top: 45px;
    margin-bottom: 45px;
    letter-spacing: 8px;
    font-family: 'Yeseva One', cursive;
    color: #f3ffe3;
    border-left: 10px solid #eb758f;
    padding-left: 20px;
    border-radius: 22px;
}

.punto {
    font-size: 80px;
    height: 20px;
    display: inline;
    line-height: 0px;
    margin-top: -25px;
    color: #0b191e;
}

h2 {
    font-weight: lighter;
    font-size: 20px;
    text-align: right;
    padding-right: 20px;
}

h3 {
    font-size: 45px;
    letter-spacing: 3px;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 21px
}

h4 {
    font-size: 25px;
    letter-spacing: 7px;
}

section {
    padding: 30px;
}


.contenedor-principal {
    width: 1140px;
    margin: 0 auto;
    color: #f3ffe3;
    font-family: 'Yeseva One', cursive;
    background-color: #0b191e;
}

.contenedor-columnas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.una-columna {
    width: 100%;
}

.dos-columnas {
    width: 50%;
}

.tres-columnas {
    width: 33%;
}

.texto-izquierda {
    text-align: left;
}

.texto-derecha {
    text-align: right;
}

.contenedor-menu {
    background-color: #f3ffe3;
    padding: 10px;
}

.menu {
    text-align: right;
    font-size: 16px;
    font-weight: 600;
}

.menu li {
    display: inline;
    margin-left: 10px;
}

.menu li:hover {
    border-bottom: #eb758f 2px solid;
}

.menu li a {
    text-decoration: none;
    color: #0b191e;
}

.menu li a:visited {
    color: #0b191e;
}

.contenedor-encabezado {
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.encabezado-titulo {
    text-align: left;
    font-size: 100px;
}

.encabezado-titulo h1 {
    position: relative;
    z-index: 1;
}

.fondo-video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.encabezado-img {
    text-align: right;
    margin-top: 75px;
}

/* Nosotros */

.nosotros {
    color: #f3ffe3;
    padding-top: 100px;
    padding-bottom: 100px;
}

.nosotros h2 {
    margin-bottom: 5px;
    margin-top: 0;
    line-height: 100%;

}

.nosotros-texto {
    color: #f3ffe3;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
    border-right: 10px solid #eb758f;
    padding-left: 20px;
    border-radius: 22px;
    margin-top: -19px
}
.nosotros-texto strong{margin-top: 5px;
    display: block;}

/* Servicios */

.servicios h2 {
    text-align: left;
    padding-left: 430px;
    margin-bottom: 62px;
}

.servicios-img {
    border-radius: 22px
}

.servicios h3 {
    padding: 10px;
}

.numero {
    margin-bottom: 0;
    margin-top: 35px;
    padding: 10px;
}

.servicios p {
    font-size: 16px;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 20px;
}

/* Personas */


.personas h2 {
    padding-right: 20px;
}

.personas p {
    margin-top: 90px;
    color: #f3ffe3;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 20px;
    border-right: 10px solid #eb758f;
    border-radius: 22px;
}

.personas-texto {
    margin-top: 60px;
    margin-bottom: 30px;
    border-bottom: 10px solid #eb758f;
    border-radius: 22px
}

.personas-texto p {
    font-size: 20px;
    font-weight: lighter;
    padding-left: 0;
    border: none;
    margin-top: -20px;
    margin-bottom: 20px;
}

.personas-img {
    border-radius: 10px
}


/* proyectos */


.proyectos {
    border-top: 10px solid #eb758f;
    border-radius: 20px;
    margin: 10px 30px;
}


.galeria {
    margin-top: 20px;
    text-align: center;
}

.galeria img {
    border-radius: 20px;
}

/* formularios */

.formulario-estilo {
    background-color: #f3ffe3;
    font-size: 18px;
    text-align: center;
    color: #0b191e;
}

.contacto-titulo {
    text-align: center;
    margin-bottom: 35px;
    margin-top: 35px;
    font-size: 80px;
}

.formulario-estilo form {
    padding-left: 30px;
    padding-bottom: 60px
}

.formulario-estilo input {
    border-color: #eb758f;
    margin: 0 15px;
    width: 16%;
}

.contacto-textarea {
    padding-top: 10px;
    margin-left: 130px;
    text-align: left;


}

.contacto-textarea textarea {
    margin-left: 12px;
    width: 47%;
    border-color: #eb758f;
}

.contacto-textarea label {
    vertical-align: top;
}



.contacto .inputs input,
.contacto .inputs textarea,
.contacto .labels label {
    margin-top: 5px;
}


.contacto textarea {
    width: 75%;
}

.boton {
    text-align: right;
    padding-right: 148px;
}

.boton button {
    background-color: #eb758f;
    border: none;
    color: #0b191e;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    border-radius: 3px;
}

footer {
    text-align: center;
    padding-top: 17px;
}

.texto-footer {
    font-size: 12px;
}

.redes img {
    padding-right: 17px;
}